h1
 {
  font-family: cursive;
  color: #FFA500;
 }
 h2
 {
   font-family: cursive;
   color: #FFDF00;

 }
 h3
 {
   font-family: cursive;
   color: #CFB53B;
 }

body
{
background-color: #bae1ff;
}

.sidemenu
{
  position: relative;
  width: 25%;
  float: left;
}

.tulisan
{
  position:relative;
  width: 70%;
  float: right;
}
